#canvasWidget{
  position: absolute;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.9);
  border-radius: 4px;
  width: 50%;
  height: 50%;
  top: 10%;
  left: 20%;
}
#canvasBar{
  display: flex;
  flex-flow: row nowrap;
  background: rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.9);
  border-radius: 4px;
  width: 98%;
  height: 10%;
  margin-left: 1%;
  margin-right: 1%;
}
#canvasDraw{
  position: absolute;
  z-index: 0;
  border: 1px solid rgba(0,0,0,0.9);
  border-radius: 4px;
  margin-left: 1%;
  margin-right: 1%;
}
#canvasDraft{
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  margin-left: 1%;
  margin-right: 1%;
}
.canvasBarItem{
  /*background: rgba(0,0,0,0.05);*/
  border: 1px solid rgba(0,0,0,0.9);
  border-radius: 4px;
  width: 5%;
  height: 98%;
  margin-right: 0.5em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#canvasDraft.pen{
  cursor: crosshair;
}
.canvasBarItem:before{
  display: inline-block;
  margin-left: 0.5em;
  position: absolute;
  top: 0.5em;
}
#addLine:before{
  content: "\f040";
}
#addCircle:before{
  content: "\f10c";
}#addFreeLine:before{
  content: "\f11c";
}#addCurve:before{
  content: "\f12c";
}