#canvasWidget{
  position: absolute;
  background: rgba(255, 255, 255, 0.36);
  border: 1px solid #B7B6BA;
  border-radius: 4px;
  width: 94%;
  height: 97%;
  top: 0;
  left: 5%;
  margin: 0.5em;
}
.disabled{
  background: rgba(50, 190, 185, 0.6);
}
.enabled{
  background: #FF44be;
}
#canvasBar{
  display: flex;
  flex-flow: row nowrap;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #B7B6BA;
  /*border-radius: 4px;*/
  height: 5%;
}
#canvasDraw{
  position: absolute;
  z-index: 0;
}
#canvasDraft{
  position: absolute;
  z-index: 1;
}
.canvasBarItem{
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  width: 3%;
  height: 98%;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#canvasDraft.pen{
  cursor: crosshair;
}
.canvasBarItem:before{
  display: inline-block;
  margin-left: 0.5em;
  position: absolute;
  top: 0.5em;
}
#addLine:before{
  content: "\f040";
}
#addCircle:before{
  content: "\f10c";
}#addFreeLine:before{
  content: "\f11c";
}#addCurve:before{
  content: "\f12c";
}