.container{
  display:flex;
}
html, body{
  height: 100%;
}
.shared{
    border-radius: 5px;
    color: #eeeeee;
}
.input{
  margin-bottom: 0.5em;
}
#booklist{
  bordor: 2px solid #eeeeee;
  border-radius: 3px;
  background: #eeeeee;
  width: 35%;
  margin-left: 5%;
  color: rgb(124, 124, 124);
}
aside{
  position: absolute;
  background: rgb(124, 124, 124);
  border: 5px solid rgb(179, 174, 174);
  top:20%;
  height: 60%;
  width: 25%;
}
iframe{
  height: 98%;
  width: 100%;
}
footer{
}